In [21]:
# Import libraries 

import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split 
# Import scikit_learn module for k-fold cross validation

#from sklearn.model_selection import cross_val_score
# import the metrics class
from sklearn import metrics

In [22]:
df = pd.read_csv('corona.csv')

C:\Users\Riedhan Aufa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [23]:
df

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0,0,0,0,0,negative,None,female,Other
1,2020-04-30,1,0,0,0,0,negative,None,female,Other
2,2020-04-30,0,1,0,0,0,negative,None,male,Other
3,2020-04-30,1,0,0,0,0,negative,None,female,Other
4,2020-04-30,1,0,0,0,0,negative,None,male,Other
...,...,...,...,...,...,...,...,...,...,...
278843,2020-03-11,0,0,0,0,0,negative,None,None,Other
278844,2020-03-11,0,0,0,0,0,negative,None,None,Other
278845,2020-03-11,0,0,0,0,0,positive,None,None,Contact with confirmed
278846,2020-03-11,0,0,0,0,0,other,None,None,Other
278847,2020-03-11,0,0,0,0,0,negative,None,None,Other

In [4]:
df.drop(['test_date'], axis=1, inplace=True)

In [ ]:
df_x['cough'].value_counts()

In [24]:
df['age_60_and_above'].replace({"None": "No"}, inplace=True)

In [25]:
age = {"No":0,"Yes":1}
df['age_60_and_above'] = df['age_60_and_above'].map(age).astype(int)

In [26]:
df['test_indication'].replace({"Abroad": "Other"}, inplace=True)

In [27]:
test_con = {"Other":0,"Contact with confirmed":1}
df['test_indication'] = df['test_indication'].map(test_con).astype(int)

In [28]:
df['corona_result'].replace({"other": "negative"}, inplace=True)

In [29]:
corona_result = {"negative":0,"positive":1}
df['corona_result'] = df['corona_result'].map(corona_result).astype(int)

In [30]:
df.drop(df.loc[df['gender']=="None"].index, inplace=True)
df.drop(df.loc[df['cough']=="None"].index, inplace=True)
df.drop(df.loc[df['fever']=="None"].index, inplace=True)

In [31]:
gender = {"female":0,"male":1}
df["gender"] = df["gender"].map(gender).astype(int)

In [32]:
df_x = pd.DataFrame(np.c_[df['cough'], df['fever'], df['sore_throat'],df['shortness_of_breath'],df['head_ache'],df['age_60_and_above'],df['gender'],df['test_indication']], 
                    columns = ["cough","fever","sore_throat","shortness_of_breath","head_ache","age_60_and_above","gender","test_indication"])

df_y = pd.DataFrame(df.corona_result)

In [33]:
df_x

,cough,fever,sore_throat,shortness_of_breath,head_ache,age_60_and_above,gender,test_indication
0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...
259037,1,1,0,0,0,1,0,0
259038,1,1,1,0,1,0,0,0
259039,1,0,0,0,0,0,0,0
259040,1,0,0,0,0,0,1,0
259041,1,0,0,0,0,0,1,0

In [36]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42)

In [37]:
param_grid = {"n_estimators": np.arange(11,151),"criterion": ['entropy','gini'], "max_leaf_nodes": list(range(2, 503)),"random_state": list(range(1, 4)),"n_jobs":list(range(1, 5))}
model = RandomizedSearchCV(RandomForestClassifier(),param_grid,scoring="roc_auc",cv=5)
model.fit(x_train, y_train.values.ravel())

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(),
                   param_distributions={'criterion': ['entropy', 'gini'],
                                        'max_leaf_nodes': [2, 3, 4, 5, 6, 7, 8,
                                                           9, 10, 11, 12, 13,
                                                           14, 15, 16, 17, 18,
                                                           19, 20, 21, 22, 23,
                                                           24, 25, 26, 27, 28,
                                                           29, 30, 31, ...],
                                        'n_estimators': array([ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,
        24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,
        37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  4...
        63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
        76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
        89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101,
       102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114,
       115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127,
       128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140,
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150]),
                                        'n_jobs': [1, 2, 3, 4],
                                        'random_state': [1, 2, 3]},
                   scoring='roc_auc')

In [38]:
y_pred = gscv.predict(x_test)

In [39]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.968953254410182

In [40]:
# Saving Model
import pickle

pkl_filename = "model.pkl"
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)